@import "styles/mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.paginationItem {
  display: inline-block;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  min-width: 1rem;
  padding: 0.875rem 0.9375rem;
  margin: 0.125rem 0.125rem;

  @include until(480px) {
    flex-grow: 1;
  }
}

.paginationList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include until(480px) {
    display: none;
  }
}
