@import "styles/mixins";

$container-offset: (2 * $gap) !default;
$container-max-width: $fullhd !default;

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  @include desktop {
    max-width: $desktop - $container-offset;
  }
  @include widescreen {
    max-width: min($widescreen, $container-max-width) - $container-offset;
  }
  @include fullhd {
    max-width: min($fullhd, $container-max-width) - $container-offset;
  }
}
